## [Start] Setting "gstClaimable" to default value of "true". **
$util.qr($context.args.input.put("gstClaimable", $util.defaultIfNull($ctx.args.input.gstClaimable, true)))
## [End] Setting "gstClaimable" to default value of "true". **
{}