## [Start] Setting "paymentTerms" to default value of "Due within 30 days". **
$util.qr($context.args.input.put("paymentTerms", $util.defaultIfNull($ctx.args.input.paymentTerms, "Due within 30 days")))
## [End] Setting "paymentTerms" to default value of "Due within 30 days". **
## [Start] Setting "gstRate" to default value of "15". **
$util.qr($context.args.input.put("gstRate", $util.defaultIfNull($ctx.args.input.gstRate, 15)))
## [End] Setting "gstRate" to default value of "15". **
## [Start] Setting "currency" to default value of "NZD". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "NZD")))
## [End] Setting "currency" to default value of "NZD". **
{}