## [Start] Setting "companyCountry" to default value of "New Zealand". **
$util.qr($context.args.input.put("companyCountry", $util.defaultIfNull($ctx.args.input.companyCountry, "New Zealand")))
## [End] Setting "companyCountry" to default value of "New Zealand". **
## [Start] Setting "defaultCurrency" to default value of "NZD". **
$util.qr($context.args.input.put("defaultCurrency", $util.defaultIfNull($ctx.args.input.defaultCurrency, "NZD")))
## [End] Setting "defaultCurrency" to default value of "NZD". **
## [Start] Setting "defaultGstRate" to default value of "15". **
$util.qr($context.args.input.put("defaultGstRate", $util.defaultIfNull($ctx.args.input.defaultGstRate, 15)))
## [End] Setting "defaultGstRate" to default value of "15". **
{}