## [Start] Setting "country" to default value of "New Zealand". **
$util.qr($context.args.input.put("country", $util.defaultIfNull($ctx.args.input.country, "New Zealand")))
## [End] Setting "country" to default value of "New Zealand". **
{}